@font-face {
    font-family: 'Made Tommy';
    src: url('/fonts/madetommy/mt-thin.ttf')  format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Made Tommy';
    src: url('/fonts/madetommy/mt-light.ttf')  format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'Made Tommy';
    src: url('/fonts/madetommy/mt-regular.ttf')  format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Made Tommy';
    src: url('/fonts/madetommy/mt-medium.ttf')  format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Made Tommy';
    src: url('/fonts/madetommy/mt-bold.ttf')  format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Made Tommy';
    src: url('/fonts/madetommy/mt-extrabold.ttf')  format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/helvetica/helvetica-regular.ttf')  format('truetype')
}